
.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d2d2d;
}

.slider {
    width: 60rem;
    height: 45rem;;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
}

input {
    visibility: hidden;
}

#r-1:checked ~ .slide1,
#r-2:checked ~ .slide2,
#r-3:checked ~ .slide3,
#r-4:checked ~ .slide4,
#r-5:checked ~ .slide5 {
    opacity: 1;
    visibility: visible;
    transition: opacity 2s linear;
}

/* Checked */

#r-1:checked ~ .navigation > .label1,
#r-2:checked ~ .navigation > .label2,
#r-3:checked ~ .navigation > .label3,
#r-4:checked ~ .navigation > .label4,
#r-5:checked ~ .navigation > .label5 {
    background-color: #e1cb50;
    transition: .5s ease-in-out;
}

/* Hover */

#r-1 ~ .navigation > .label1:hover,
#r-2 ~ .navigation > .label2:hover,
#r-3 ~ .navigation > .label3:hover,
#r-4 ~ .navigation > .label4:hover,
#r-5 ~ .navigation > .label5:hover {
    background: darkseagreen;
    transition: .5s ease-in-out;
}

/*Active*/

#r-1:active ~ .navigation > .label1:hover,
#r-2:active ~ .navigation > .label2:hover,
#r-3:active ~ .navigation > .label3:hover,
#r-4:active ~ .navigation > .label4:hover,
#r-5:active ~ .navigation > .label5:hover {
    background: #941b1b;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 1.5s, opacity 1.5s linear;
}

.slide__img {
    width: inherit;
    height: inherit;
    align-self: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .7rem;
    margin-bottom: 2rem;
}

.slide__desc {
    width: 60%;
    font-size: 1.5rem;
    color: wheat;
}

.slide1, .slide2, .slide3,
.slide4, .slide5 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.slider-1 {
    background-image: url(/images/slide-1.webp);
}

.slider-2 {
    background-image: url(/images/slide-2.webp);
}

.slider-3 {
    background-image: url(/images/slide-3.webp);
}

.slider-4 {
    background-image: url(/images/slide-4.webp);
}

.slider-5 {
    background-image: url(/images/slide-5.webp);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: 1.5rem;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: flex-end;
    align-self: flex-end;
    user-select: none;
}

.navigation__item {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: .5rem solid #2d2d2d;
    background-color: white;
    cursor: pointer;
}
